.back {
  background-image: url("../../../public/images/icon-previous.svg");
  margin-bottom: 1em;
}
.desc-con {
  padding: 1em;
  /* min-height: 70vh; */
}

.descimg {
  margin: auto;
}
.color-con {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  margin-bottom: 1em;
}
.shades-con {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.shades {
  border: 0;
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.quantity-con {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: hsl(0, 86%, 94%);
  padding: 0.5em 1em;
  border-radius: 10px;
  margin-bottom: 1em;
}
.ops-btn {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  background-color: transparent;
  width: 10px;
  height: 10px;
}
.plus {
  background-image: url("../../../public/images/icon-plus.svg");
}
.minus {
  background-image: url("../../../public/images/icon-minus.svg");
}
.prod-quantity {
  color: hsl(0, 84%, 57%);
}
.addcart {
  width: 100%;
  border: 0;
  padding: 1em;
  border-radius: 10px;
  background-color: hsl(0, 84%, 57%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  color: #ffff;
  margin-bottom: 2em;
}
.cart-icon {
  filter: brightness(100);
}
.product-listcon {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}
@media (min-width: 40rem) {
  .desc-con {
    display: flex;
    flex-direction: column;
  }
  .des-d {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .color-con {
    grid-template-columns: repeat(3, 1fr);
  }
  .descimg {
    max-width: 50%;
  }
  .product-listcon{
grid-template-columns: repeat(3,1fr);
  }
 
}
