/* .back {
  background-image: url("../../../public/images/icon-previous.svg");
  margin-bottom: 1em;
} */
.desc-con {
  padding: 1em 2em;
  min-height: 70vh;
  padding-top: 7em;
}

.descimg {
  margin: auto;
}
.color-con {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  margin-bottom: 1em;
}
.shades-con {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.shades {
  border: 0;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  cursor: pointer;
}
.shades:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.shades:focus {
  border: 1px solid;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.quantity-con {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: hsl(0, 86%, 94%);
  padding: 0.5em 1em;
  border-radius: 10px;
  margin-bottom: 1em;
}
.ops-btn {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  background-color: transparent;
  width: 10px;
  height: 10px;
  cursor: pointer;
}
.plus {
  background-image: url("../../../public/images/icon-plus.svg");
}
.minus {
  background-image: url("../../../public/images/icon-minus.svg");
}
.prod-quantity {
  color: hsl(0, 84%, 57%);
}
.addcart {
  width: 100%;
  border: 0;
  padding: 1em;
  border-radius: 10px;
  background-color: hsl(0, 84%, 57%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  color: #ffff;
  margin-bottom: 2em;
  cursor: pointer;
}
.addcart:hover{
   background-color: #333030;
}
.add-con {
  position: relative;
}
.aded {
  display: none;
  position: absolute;
  top: -1rem;
  left: 50%;
  background-color: hsl(0, 1%, 43%);
  padding: 0 0.5em;
}
.add-icon {
  filter: brightness(100);
}
.fill:hover,.fill:focus{
   filter: brightness(10)hue-rotate(50deg)invert(1); 
}
.product-listcon {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}
@media (min-width: 40rem) {
  .desc-con {
    display: flex;
    flex-direction: column;
  }
  .des-d {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .color-con,
  .product-listcon {
    grid-template-columns: repeat(3, 1fr);
  }
  .descimg {
    max-width: 50%;
  }
}
@media (min-width: 60rem) {
  .product-listcon {
    grid-template-columns: repeat(5, 1fr);
  }
  .des-d {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .addprod-con {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
  .addcart,
  .quantity-con {
    margin-bottom: 0;
  }
}
