*,
*::after,
*::before {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
ul,
img,
body {
  margin: 0;
  padding: 0;
}
img,
picture,
figure {
  display: block;
  max-width: 100%;
}
body,
.App,
#root {
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
  line-height: 25px;

   background-color: hsl(0, 100%, 99%);
}
.sr-only {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  border: 0;
  top: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 1.5em;
  background-color: hsl(0, 4%, 5%);
  border: 0;
}
.logo {
  color: hsl(0, 5%, 96%);
}
nav {
  /* display: none; */
  transform: translateX(100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 87%, 76%);

   transition: 500ms ease-in-out;
}
nav[data-visible="true"] {
  /* display: block; */
  z-index: 90;
    transform: translateX(0%);
  transition: 500ms ease-in-out;
  padding: 1em;
}
.mobile-navigation {
  border: 0;
  background-image: url("../public/images/icon-hamburger.svg");
  background-repeat: no-repeat;
  width: 15px;
  background-position: center;
  background-size: cover;
  height: 15px;
  background-color: transparent;
  z-index: 100;
}
.mobile-navigation[aria-expanded="true"] {
  background-image: url("../public/images/icon-close.svg");
}
.nav-list{
  padding: 1em;
  margin-top: 3em;
}
nav li {
  list-style: none;
  margin-bottom: 2em;

}
nav li a{
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  text-transform: capitalize;
}
.flex,.social{
  display: flex;
  gap: 1em;
}
.nav-arr{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;

}
.next{
transform: rotate(270deg);
filter: brightness(1000);
}