@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400&family=Roboto+Condensed&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
ul,
img,
body {
  margin: 0;
  padding: 0;
}
img,
picture,
figure {
  display: block;
  max-width: 100%;
}
li {
  list-style: none;
}
body,
.App,
#root {
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
  line-height: 2.2em;
  background-color: hsl(0, 100%, 99%);
 font-family: "Roboto Condensed", sans-serif;
  /* font-family: "League Spartan", sans-serif; */

}
p{
    font-family: "League Spartan", sans-serif;
    
    /* font-family: "Roboto Condensed", sans-serif; */
}
.sr-only {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  border: 0;
  top: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em;
  background-color: hsl(0, 4%, 5%);
  border: 0;
  position: fixed;
  top: 0rem;
  z-index: 1000;
  width: 100%;
}
.logo {
  color: hsl(0, 5%, 96%);
}
nav {
  transform: translateX(100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 26%, 95%);
  transition: 500ms ease-in-out;
}
nav[data-visible="true"] {
  z-index: 90;
  transform: translateX(0%);
  transition: 500ms ease-in-out;
  padding: 1em;
}
.mobile-navigation {
  border: 0;
  background-image: url("../public/images/icon-hamburger.svg");
  background-repeat: no-repeat;
  width: 15px;
  background-position: center;
  background-size: cover;
  height: 15px;
  background-color: transparent;
  z-index: 100;
  cursor: pointer;
}
.mobile-navigation[aria-expanded="true"] {
  background-image: url("../public/images/icon-close.svg");
  filter: brightness(0);
}
.nav-list {
  padding: 1em;
  margin-top: 3em;
}
.mar {
  margin-bottom: 2em;
}
nav li a {
  text-decoration: none;
  font-weight: 500;
  text-transform: capitalize;
}
nav li a.active {
  color: palevioletred;
}
nav li a:hover {
  color: hsl(0, 100%, 99%);
}
.cart-icon {
  cursor: pointer;
  filter: brightness(2);
}
.cart-icon:hover {
  filter: brightness(1000%);
}
.flex {
  display: flex;
  gap: 2em;
  align-items: center;
}
.flex-cart {
  position: relative;
}
.num {
  position: absolute;
  color: #fff;
  top: -1rem;
  right: -1.5rem;
  background-color: hsl(0, 91%, 50%);
  padding: 0 0.5em;
  border-radius: 10px;
  font-size: 14px;
}
.nav-arr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  text-transform: capitalize;
}
.next {
  background-image: url("../public/images/icon-next.svg");
}
footer {
  background-color: rgb(25, 25, 29);
  color: #fff;
  padding: 1em;
}
footer li,
.social-icon,
.arrow {
  cursor: pointer;
}
.footer-ul {
  margin: 2em 0;
  text-align: center;
}
.footer-list {
  margin-bottom: 0.5em;
}
.footer-list ul {
  display: flex;
  flex-direction: column;
}
.footer-list li span:hover {
  border-bottom: 1px solid;
}
.ft-t {
  text-transform: capitalize;
  font-weight: 900;
}
.social {
  justify-content: center;
  padding-bottom: 1em;
}

.social-icon:hover {
  filter: hue-rotate(800deg) invert(1) brightness(10);
}
@media (min-width: 60rem) {
  .mobile-navigation {
    display: none;
  }
  nav {
    display: block;
    transform: translateX(0%);
    top: auto;
    left: auto;
    width: 50%;
    height: auto;
    background-color: transparent;
    position: relative;
    padding: 0em;
  }
  nav[data-visible="true"] {
    padding: 0;
  }
  .next {
    transform: rotate(90deg);
    filter: brightness(700%) invert(0);
    margin-left: 0.5em;
  }
  .next:hover {
    filter: brightness(100000%);
  }
  .next[aria-pressed="true"] {
    transform: rotate(270deg);
  }
  .bk {
    display: none;
  }
  .nav-con {
    display: flex;
    gap: 5em;
    width: 30%;
  }
  .rm {
    margin-bottom: 0;
    color: #fff;
  }
  .nav-arr,
  nav li a {
    color: #fff;
  }

  .nav-list {
    display: flex;
    color: #fff;
    padding: 0;
    margin-top: 0;
    gap: 2em;
  }
}
